/* ------------------------------------------
  Reset ♥
  http://meyerweb.com/eric/tools/css/reset/
  v2.0 | 20110126
  License: none (public domain)
---------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  font-size:100%;
  font:inherit;
  vertical-align:baseline;
  }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display:block;
  }
body { line-height:1; }
ol, ul { list-style:none;  }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }
/* tables still need 'cellspacing="0"' in the markup */
table { border-collapse: collapse; border-spacing:0; }
/* remember to define focus styles. Hee Haw */
:focus { outline:0; }

/*-----------------------------------
  Typography
-------------------------------------*/
input,
textarea,
body {
  font:500 13px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color:#404040;
  }
body {
  background:#f6f6f6;
  margin:0; padding:0;
  overflow-x:hidden;
  -webkit-font-smoothing:antialiased;
  }
input {
  max-width:100%;
  vertical-align:middle;
  background:#fff;
  color:#000;
  border:1px solid #CCC;
  border-color:#CCC #DDD #DDD;
  width:100%;
  height:50px;
  padding:10px;
  -webkit-box-shadow: inset #DDD 0px 1px 3px;
     -moz-box-shadow: inset #ddd 0px 1px 3px;
          box-shadow: inset #DDD 0px 1px 3px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  }

h1,h2,h3,h4,h5,h6 {
  font-weight:bold;
  }

h1 {
  font-size:15px;
  margin:0;
  }

h2 {
  font-size:28px;
  line-height:1.333em;
  margin:0 0 20px;
  }

h3 {
  font-size:15px;
  line-height:1.333em;
  margin:0 0 10px;
  }

h4 {
  font-size:12px;
  line-height:1.666em;
  margin:0 0 10px;
  }

a {
  color:#10a1cf;
  text-decoration:none;
  }
  a:hover {
    color:#1bbaec;
    }

.button {
  background-color:#EBEBEB;
  background-image:-webkit-gradient(linear, left top, left bottom, from(whiteSmoke), to(#EBEBEB));
  background-image:-webkit-linear-gradient(top, whiteSmoke, #EBEBEB);
  background-image:-moz-linear-gradient(top, whiteSmoke, #EBEBEB);
  background-image:-ms-linear-gradient(top, whiteSmoke, #EBEBEB);
  background-image:-o-linear-gradient(top, whiteSmoke, #EBEBEB);
  background-image:linear-gradient(to bottom, whiteSmoke, #EBEBEB);
  text-align:center;
  display:inline-block;
  color:#404040;
  font-weight:bold;
  border:1px solid #B0B0B0;
  text-shadow: 0 1px 0 white;
  padding:4px 18px;
  }
  .button:hover {
    color:#404040;
    -webkit-box-shadow:0 1px 4px rgba(0,0,0,0.15);
            box-shadow:0 1px 4px rgba(0,0,0,0.15);
    }
  .button:active {
    -webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,0.25);
        box-shadow:inset 0 1px 2px rgba(0,0,0,0.25);
    }

img {
  max-width:100%;
  }

pre,
code {
  font-family:Consolas, Menlo, 'Liberation Mono', Courier, monospace;
  word-wrap:break-word;
  -webkit-font-smoothing: subpixel-antialiased;
  }
pre {
  font-size:13px;
  line-height:1.25em;
  background:#fff;
  color:#404040;
  padding:20px;
  margin:20px 0;
  overflow: auto;
  -webkit-box-shadow:inset 0 1px 4px rgba(0, 0, 0, 0.50);
          box-shadow:inset 0 1px 4px rgba(0, 0, 0, 0.50);
  -webkit-border-radius:4px;
          border-radius:4px;
  }
code {
  font-size:14px;
  border:0;
  padding:0 2px;
  margin:0 2px;
  background:rgb(255,255,255);
  background:rgba(255, 255, 255, 0.40);
  box-shadow:0 -1px 0 3px rgba(255, 255, 255, 0.40);
  }
pre code {
  font-size:13px;
  line-height:1.25em;
  background:transparent;
  box-shadow:none;
  border:none;
  padding:0;
  margin:0;
  }
p {
  margin:0 0 20px;
  }
strong {
  font-weight:bold;
  }

/*-----------------------------------
  Layout
-------------------------------------*/
.limiter {
  width:960px;
  padding:40px 20px;
  margin:0 auto;
  }
.heading {
  margin:0 0 10px;
  }
  .heading h3 {
    position:relative;
    top:5px;
    float:left;
    }

/*-----------------------------------
  Style
-------------------------------------*/
iframe {
  width:100%;
  height:240px;
  margin-bottom:20px;
  }
.footer {
  background:#fff;
  padding:20px 0 0;
  text-align:center;
  height:40px;
  }

/*-----------------------------------
  Mobile
-------------------------------------*/
@media only screen and (max-width:640px) {
  .limiter {
    width:90%;
    max-width:90%;
    padding:0 5%;
    }
}

/*-----------------------------------
  Lil Helpers
-------------------------------------*/
.centered {
  display:block;
  text-align:center;
  }
.fr { float:right; }
.fl { float:left; }

/*Markup free clearing
Details: http: //perishablepress.com/press/2009/12/06/new-clearfix-hack*/
.clearfix:after {
  content:'';
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
  }
* html .clearfix { height:1%; }
*:first-child + html .clearfix { min-height:1%; }
